body {
   display: flex;
   flex-direction: column;   
}

.hero, .copyright {
    background-color: #1F2937;
    color: white;
    display: flex;
}

.hero {
    padding: 20px 10% 60px 10%;
    flex-direction: column;
}

.sunset {
    width: 60%;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

a {
    margin: 5px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.boxes, .quote {
    display: flex;
    flex: 1;
}

.boxes {
    justify-content: center;
    text-align: center;
    padding: 10px 0px 60px 0px;
    gap: 20px;
}


.copyright {
    justify-content: center;
    align-items: center;
    padding: 20px;
}

button {
    color: white;
    background-color: #3882F6;
    padding: 10px;
    border-radius: 10px;
}

.action {
    color: white;
    background-color: #3882F6;
    margin: 20px 10%;
    padding: 25px;
}

.left-content {
    width: 30%;
}
    
h1 {
    color: #faf9f8;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #1f2937;
}

.box {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    border: 2px solid #3882F6;
    border-radius: 10%;
    margin: 5px;
}

.image-plus {
    width: 160px;
}

.box1 {
    background-image: url("./images/volcano.jpg");
}

.box2 {
    background-image: url("./images/fruity-drink.jpg");
}

.box3 {
    background-image: url("./images/pool.jpg");
}

.box4 {
    background-image: url("./images/club.jpg");
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.quote-text {
    font-size: 32px;
    font-style: italic;
    color: #1f2938;
    font-weight: 100;
}

.pad {
    width: auto;
}

.tweak {
    width: 40%;
}
.betty {
    text-align: right;
    font-size: 20px;
    font-weight: 600;
}